venv/
*.css
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
flask_session/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# JS stuff
node_modules/
*.log