$sidebar-width: 30;
#content{
  margin: $navbar-height auto;
}

#user-view-grid{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
}

#user-sidebar{
  position: fixed;
  width: 30%;
}

#sidebar-whitespace{
  width: percentage($sidebar-width);
}

#chatroom-view{
  width: percentage(100 - $sidebar-width);
}

@media only screen and (max-width: 980px) {
  #content{
    width: 100%;
  }
}