.delete-room-btn{
  color: #de604b;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  z-index: 2;
}

#delete-chat-btn-layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 20px 0px;
  button{
    margin: 0px 30px;
  }
}

.interaction-logo{
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

.interaction-logo:hover{
  cursor: pointer;
}

.chatroom-btn{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  font-size: 16px;
  color: black;
  background-color: white;
}

.chatroom-btn:hover{
  cursor: pointer;
  background-color: $main-clr;
  color: white;
}

.chatroom-current{
  background-color: $scndry-clr;
  color: white;
}

.delete-room-btn:hover{
  color: white;
}

button{
  width: 100px;
  height: 40px;
}

#msg-loader{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  display: none;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

 @-ms-keyframes spin {
        from {
            -ms-transform: rotate(0deg);
        } to {
            -ms-transform: rotate(360deg);
        }
    }
    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
        } to {
            -moz-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        } to {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
    }

