$msg-margin-sides: 10px;

.chat-msg{
  margin: 0px $msg-margin-sides;
  font-size: 16px;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  display: inline-block;
  color: white;
  width: 48%;
  background-color: $scndry-clr;
}

.msg-content{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.chat-msg-pending{
  background-color: $main-clr;
}

.other-user-msg{
  position: relative;
  left: 49%;
  background-color: white;
  color: black;
}

.user-indicator{
  margin: 0px 5px;
}

.msg-timestamp{
  margin: 3px $msg-margin-sides;
}

#messages-view{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: $init-content-width) {
  .other-user-msg{
    left: 0%;
  }
  .chat-msg{
    width: 90%;
  }
}