.chat-msg{
  margin: 0px 10px;
  font-size: 16px;
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  display: inline-block;
  color: white;
  width: 50%;
  background-color: $scndry-clr;
}

.chat-msg:hover{
  cursor: default;
}

.msg-content{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.chat-msg-pending{
  background-color: $main-clr;
}

.other-user-msg{
  float: right;
  background-color: white;
  color: black;
}

.other-user-name-display{
  text-align: left;
}

.user-indicator{
  margin: 0px 5px;
}

#messages-view{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}