#chat-msg-form{
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: row;
}

#chat-msg-area{
  resize: none;
}

@media only screen and (max-width: $init-content-width) {
    #chat-msg-form{
    width: 40%;
  }
}

@media only screen and (max-width: $phone-screen-width){
  #chat-msg-form{
    width: 98%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #chat-msg-area{
    height: 2.5em;
  }
}