$navbar-bg-clr: rgb(221, 222, 224);
$navbar-height: 80px;
$navbar-height-phone: 50px;

#nav-bar{
  height: $navbar-height;
  top: 0;
  background-color: $navbar-bg-clr;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav-bar-content{
  width: $init-content-width;
  margin: auto;
}

#bars-nav{
  display: none;
}

@media only screen and (max-width: 980px) {
  #nav-bar{
    width: 100%;
  }
}

@media only screen and (max-width: $phone-screen-width){
  #nav-bar{
    height: $navbar-height-phone;
  }
  #bars-nav{
    display: block;
    position: absolute;
    top: 2%;
    right: 10%;
    color: white;
  }
}