$main-clr: rgb(93, 139, 166);
$scndry-clr: rgb(49, 83, 155);
$init-content-width: 1000px;
$phone-screen-width: 600px;

#logo{
   margin-top: 0px;
  h1{
    font-size: 80px;
    margin-top: 0px;
  }
}
#logo:hover{
   cursor: default;
}

#logo_pt1{
  color: $main-clr;
}

#logo_pt2{
  color: $scndry-clr;
}

@media only screen and (max-width: $phone-screen-width){
  #logo{
    position: relative;
    bottom: 10px;
    margin-top: 0px;
    h1{
      font-size: 50px;
      margin-top: 0px;
    }
  }
}