#user-inceractions-div{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

#delete-chatroom-overlay{
  h2{
    text-align: center;
  }
}

.overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1,0.5); /* Black background with opacity */
  z-index: 2;
}

.overlay-window{
  position: fixed;
  display: block;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-width: thin;
  border-color: #000;
  border-style: solid;
}

.inline-radio-btns{
  span{
    margin-right: 10px;
  }
}

.add-chatroom-form{
  position: relative;
  width: 90%;
  margin: 5px auto;
}

#close-chat-window{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0%;
}

.toggle-add-chatroom-window:hover{
  cursor: pointer;
}

.adding-chat-error{
  margin-top: 10px;
}

#adding-chat-update-msg{
  margin-top: 10px;
}

#user-sidebar{
  ul{
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
  }
}

#chatroom-view{
  position: relative;
}

#user-view-grid{
  position: relative;
  display: flex;
  width: $init-content-width;
  margin: 0px auto;
  flex-direction: row;
}

#sidebar-whitespace{
  width: $sidebar-width;
  max-width: $sidebar-width;
}

#user-sidebar{
  position: fixed;
  width: $sidebar-width;
  max-width: $sidebar-width;
}

@media only screen and (max-width: $init-content-width) {
  #user-view-grid {
    width: 100%;
  }
}

@media only screen and (max-width: $phone-screen-width) {
  .hide-for-phone {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  #user-sidebar{
    width: 100%;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #sidebar-whitespace{
    display: none;
  }
}