#user-inceractions-div{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

#delete-chatroom-overlay{
  h2{
    text-align: center;
  }
}

#delete-chat-btn-layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 20px 0px;
  button{
    margin: 0px 30px;
  }
}

.interaction-logo{
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

.overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1,0.5); /* Black background with opacity */
  z-index: 2;
}

.overlay-window{
  position: fixed;
  display: block;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-width: thin;
  border-color: #000;
  border-style: solid;
}

.inline-radio-btns{
  span{
    margin-right: 10px;
  }
}

.add-chatroom-form{
  position: relative;
  width: 90%;
  margin: 5px auto;
}

#close-chat-window{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0%;
}

.toggle-add-chatroom-window:hover{
  cursor: pointer;
}

.adding-chat-error{
  margin-top: 10px;
}

#adding-chat-update-msg{
  margin-top: 10px;
}

#user-sidebar{
  ul{
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
  }
}

#chatroom-view{
  position: relative;
}

.chatroom-btn{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  font-size: 16px;
  color: black;
  background-color: white;
}

.chatroom-btn:hover{
  cursor: pointer;
  background-color: $main-clr;
  color: white;
}

.chatroom-current{
  background-color: $scndry-clr;
  color: white;
}

#chat-msg-form{
  position: fixed;
  bottom: 10px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

#chat-msg-area{
  resize: none;
}

#send-msg-btn{
  position: relative;
  bottom: 14px;
}

#user-view-grid{
  display: none;
}

.delete-room-btn{
  color: #de604b;
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  z-index: 2;
}

.delete-room-btn:hover{
  color: white;
}

@media only screen and (max-width: 760px) {
  #send-msg-btn{
    bottom: 0px;
  }
  #chat-msg-form{
      left: 60%;
      transform: translateX(-60%);
  }
}