<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8"/>
    <title>{% block title %}Let's Talk {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/style.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
  {% endblock %}
</head>
<body>
<!--Nav bar for the website-->
    <div id="nav-bar">
        <div id="nav-bar-content">
            <div id="logo">
                 <h1><span id="logo_pt1">let's</span><span id="logo_pt2">chat</span></h1>
            </div>
        </div>
    </div>
    <div id="content">
        {% block  content %}
        {% endblock %}
    </div>
</body>
</html>