{% extends "layout.html" %}
{% block title %} {{ super() }} - Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="signup-header">
        <h1>Chat with the World</h1>
        <form class="sign-form">
            <h2>Sign Up</h2>
            <div class="form-group">
              <label for="emailInput">Email address</label>
              <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="passwordInput">Password</label>
              <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
              <input name="passwordConfirmation" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary" id="usr-access-btn">Sign Up</button>
            <p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
            <div class="alert alert-danger" id="log-error" role="alert">
                Error when logging in!
            </div>
        </form>
    </div>
{% endblock %}