{% extends "layout.html" %}
{% block title %} {{ super() }} - {{ username }} {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div id="user-view-grid">
        <div class="overlay" id="chatroom-creation-overlay">
            <div id="chatroom-creation-window">
                <form class="chatroom-form">
                    <img
                        src="{{ url_for('static', filename='images/close_window_btn.png') }}"
                        alt="close window button"
                        id="close-chat-window"
                    />
                    <h2>Add New Chat Room</h2>
                    <div class="form-group">
                        <label for="roomName">Room Name</label>
                        <input name="roomName"
                               type="name"
                               class="form-control"
                               id="roomName"
                               aria-describedby="newRoomName"
                               placeholder="Enter room name"
                        >
                    </div>
                    <div class="form-group">
                        <div class="inline-radio-btns">
                            <input type="radio" name="room-creation-choice"  value="create" checked /> <span>Create</span>
                            <input type="radio" name="room-creation-choice"  value="join" /> Join
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="usr-access-btn">Submit</button>
                </form>
            </div>
        </div>
        <div id="user-sidebar">
            <h2>{{ username }}</h2>
            <ul id="chatroom-list">

            </ul>
            <div id="user-inceractions-div">
                <img
                    src="{{ url_for('static', filename='images/add_logo.png') }}"
                    alt="add chatroom button"
                    class="interaction-logo"
                />
                <a href="{{ url_for('log_out_user') }}"><img
                    src="{{ url_for('static', filename='images/logout.png') }}"
                    alt="log out button"
                    class="interaction-logo"
                /></a>
            </div>
        </div>
        <div id="chatroom-view">
            <h2>No chatrooms to view :(</h2>
        </div>
    </div>
{% endblock %}